[Desktop Entry]
Name=Missing Hiker
Comment=Play this game on Steam
Exec=steam steam://rungameid/2250090
Icon=steam_icon_2250090
Terminal=false
Type=Application
Categories=Game;
