[Desktop Entry]
Name=Moonlighter
Comment=Play this game on Steam
Exec=steam steam://rungameid/606150
Icon=steam_icon_606150
Terminal=false
Type=Application
Categories=Game;
